@charset "utf-8";
#header {
  top: 0;
  width: 100%;
  height: 6em;
  z-index: 0;
}

#breadcrumb {
  padding: 1em 0;
  list-style: none;
  background-color: #eee;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
  width: 100%;
}

#breadcrumb li {
  display: inline;
}

#breadcrumb li+li:before {
  content: "/\00a0";
}

#breadcrumb li a {
  color: #0275d8;
  text-decoration: underline;
  padding: 1em 0.5em 1em 1em;
}

#breadcrumb li a:hover {
  color: #f58500;
  text-decoration: underline;
}

#map-container {
  background: #777 none repeat scroll 0 0;
  width: 100%;
  margin: auto;
  /* border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff; */
  height: 14em;
  order: 1;
}

#map {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

#restaurant-name {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0;
  padding: 1em 0 0.1em 0;
  /* text-transform: uppercase; */
  /* line-height: 1.25em; */
  /* width: 100%; */
  text-align: center;
}

.restaurant-img {
  width: 100%;
  max-width: 100%;
}

#restaurant-pic {
  width: 100%;
  max-width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  /* margin: 1em; */
  text-align: center;
}

#restaurant-cuisine {
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 10px 0;
  padding: 1.4em 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container {
  /* border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff; */
  
  max-width: 800px;
  order: 0;
  margin: auto;
  width: 100%;
}

#reviews-container {
  width: 100%;
}

#reviews-container {
  order: 2;
}

#reviews-container h2 {
  color: white;
  font-weight: 300;
  -webkit-margin-start: 1em;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  margin: 16px;
  overflow: hidden;
  padding: 16px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}

#reviews-list li p {
  margin: 0.6em;
}

#restaurant-hours td {
  color: #000;
  padding: 0 1em;
}

.contained_table_restaurant_hours {
  width: 100%;
  overflow-x: auto;
  padding: 1em 1em;
}

#restaurant-hours tr td {
  white-space: nowrap;
}

.contained_restaurant_name {
  background: rgb(182, 120, 7);
  margin: 0 0 4px 0;
}

html {
  box-sizing: border-box;
}

h4 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.form-section {
  /* color: red; */
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  display: flex;
  flex-flow: row wrap;
  margin: 16px;
  padding: 0;
}

.card-title {
  align-items: center;
  background-color:  rgb(182, 120, 7);
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: normal;
  padding: 0 16px;
  width: 100%;
  font-size: 0.9rem;
}


.checked {
  color: orange;
}

.btnDel {
  background-color: #fff;
  border: none;
  color: #777;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  /* margin: 8px; */
  
}

/* Darker background on mouse-over */
.btnDel:hover {
  background-color:#e0e0e0;
}

.textfield input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
}

.support-text {
  color: rgba(0,0,0,.54);
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.textfield {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  max-width: 90%;
  min-width: 80%;
  padding: 10px 0;
}

.card-action {
  align-items: center;
  background-color: transparent;
  border-top: 1px solid #e0e0e0;
  color: inherit;
  display: flex;
  font-size: 16px;
  height: auto;
  justify-content: center;
  margin-top: 10px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
}

#input-fav {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  color: #ccc;
}

#input-fav:checked ~ .label-fav {
  color: red;
}
.label-fav:hover {
  background-color: antiquewhite;
}

.label-fav {
  position: relative;
  float: left;
  display: block;
  color:gray;
  font-size: 22px;
  padding: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-rating {
  overflow: hidden;
  display: inline-block;
  margin: 16px 24px 16px 8px;
  padding: 10px 0;
}

.rating-input {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0;
}

.container-rating:hover .rating-label:hover,
.container-rating:hover .rating-label:hover ~ .rating-label,
.rating-input:checked ~ .rating-label {
  color: orange;
}

.rating-label,
.container-rating:hover .rating-label {
  position: relative;
  float: right;
  display: block;
  color:gray;
}


.button {
  border-radius: 2px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin: 2px;
  min-width: 64px;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  vertical-align: middle;
  width: 30%;
  will-change: box-shadow;
  
}

.button::after {
  background: rgba(255, 255, 255, .5);
  border-radius: 100%;
  content: '';
  height: 5px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  transform: scale(1, 1) translate(-50%);
  width: 5px;
}

.raised {
  background:  rgb(194, 139, 38);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  color: #fff;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0, 0);
  }
  20% {
    opacity: 1;
    transform: scale(25, 25);
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

@media screen and (min-width: 1080px) {
  #restaurant-container {
    width: 800px;
    order: 0;
    margin: 0 0 0 auto; 
  }
  #map-container {
    width: 0px;
    order: 1;
    height: 750px;
    margin: 0 auto auto 8px;
    flex-grow: 1;
  }
  
  #reviews-container {
    width: 0px;
    min-width: 400px;
    order: 1;
    margin: auto;
    flex: 1;
  }
  
}





